<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Adventures</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
  </head>
  <body style="padding: 20px; background-color: aliceblue">
    {% extends "base.html" %} {% block content %}

    <div class="ui centered container" style="padding-bottom: 100px">
      <div class="ui three stackable cards">
        <div class="ui fluid card">
          <div class="image">
            <img
              src="{{url_for('static', filename='assets/images/adventures/hiking.webp')}}"
            />
          </div>
          <div class="content">
            <a
              class="header"
              href="{{ url_for('activity', activity_type='hiking') }}"
              >Hiking</a
            >
          </div>
        </div>
        <div class="ui fluid card">
          <div class="image">
            <img
              src="{{url_for('static', filename='assets/images/adventures/water-rafting.jpg')}}"
            />
          </div>
          <div class="content">
            <a
              class="header"
              href="{{ url_for('activity', activity_type='white_water') }}"
              >White Water Rafting</a
            >
          </div>
        </div>
        <div class="ui fluid card">
          <div class="image">
            <img
              src="{{url_for('static', filename='assets/images/adventures/skydiving.jpg')}}"
            />
          </div>
          <div class="content">
            <a
              class="header"
              href="{{ url_for('activity', activity_type='skydiving') }}"
              >Skydiving</a
            >
          </div>
        </div>
        <div class="ui fluid card">
          <div class="image">
            <img
              src="{{url_for('static', filename='assets/images/adventures/iceclimbing.jpg')}}"
            />
          </div>
          <div class="content">
            <a
              class="header"
              href="{{ url_for('activity', activity_type='mountaineering') }}"
              >Mountaineering</a
            >
          </div>
        </div>
        <div class="ui fluid card">
          <div class="image">
            <img
              src="{{url_for('static', filename='assets/images/adventures/rock-climbing.jpg')}}"
            />
          </div>
          <div class="content">
            <a
              class="header"
              href="{{ url_for('activity', activity_type='rock_climbing') }}"
              >Rock Climbing</a
            >
          </div>
        </div>
        <div class="ui fluid card">
          <div class="image">
            <img
              src="{{url_for('static', filename='assets/images/adventures/ziplining.jpg')}}"
            />
          </div>
          <div class="content">
            <a
              class="header"
              href="{{ url_for('activity', activity_type='zip_lining') }}"
              >Zip-lining</a
            >
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    {% endblock%}
  </body>
</html>
