<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sky Diving</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/hiking.css') }}"
    />
  </head>
  <body style="padding: 20px; background-color: aliceblue">
    {% extends "base.html" %} {% block content %}
    <div class="card-wrapper">
      <div class="card">
        <!-- card left -->
        <div class="product-imgs">
          <div class="img-display">
            <div class="img-showcase">
              <img
                src="{{url_for('static', filename='assets/images/adventures/skydiving3.jpg')}}"
                alt="Sky Diving Image"
              />
              <img
                src="{{url_for('static', filename='assets/images/adventures/skydiving.jpg')}}"
                alt="Sky Diving Image"
              />
              <img
                src="{{url_for('static', filename='assets/images/adventures/skydiving2.jpg')}}"
                alt="Sky Diving Image"
              />
              <img
                src="{{url_for('static', filename='assets/images/adventures/skydiving4.jpg')}}"
                alt="Sky Diving Image"
              />
            </div>
          </div>
          <div class="img-select">
            <div class="img-item">
              <a href="#" data-id="1">
                <img
                  src="{{url_for('static', filename='assets/images/adventures/skydiving3.jpg')}}"
                  alt="Sky Diving Image"
                />
              </a>
            </div>
            <div class="img-item">
              <a href="#" data-id="2">
                <img
                  src="{{url_for('static', filename='assets/images/adventures/skydiving.jpg')}}"
                  alt="Sky Diving Image"
                />
              </a>
            </div>
            <div class="img-item">
              <a href="#" data-id="3">
                <img
                  src="{{url_for('static', filename='assets/images/adventures/skydiving2.jpg')}}"
                  alt="Sky Diving Image"
                />
              </a>
            </div>
            <div class="img-item">
              <a href="#" data-id="4">
                <img
                  src="{{url_for('static', filename='assets/images/adventures/skydiving4.jpg')}}"
                  alt="Sky Diving Image"
                />
              </a>
            </div>
          </div>
        </div>
        <!-- card right -->
        <div class="product-content">
          <h2 class="product-title">Sky Diving</h2>
          <div class="product-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span>4.3(27)</span>
          </div>

          <div class="product-price">
            <p class="new-price">Price Per Person <span> $200 </span></p>
          </div>

          <div class="product-detail">
            <h2>about this adventure</h2>
            <p>
              Embark on the adventure of a lifetime with WildRush Adventures'
              skydiving experiences. Feel the rush of adrenaline as you soar
              through the sky, reaching speeds of up to 120 miles per hour
              during freefall. Our tandem skydiving jumps allow you to
              experience the thrill of skydiving with the reassurance of being
              harnessed to a certified instructor. Take in breathtaking views as
              you float under a parachute, gently descending back to the earth.
              Whether you're celebrating a special occasion or conquering your
              fear of heights, skydiving promises an unforgettable and
              liberating experience that will stay etched in your memory
              forever.
            </p>
          </div>

          <div class="purchase-info">
            <a href="{{ url_for('requestquote') }}" class="btn">Get a Quote</a>
            <a href="{{ url_for('contact') }}" class="btn">Contact</a>
          </div>
        </div>
      </div>
    </div>
    <script>
      const imgs = document.querySelectorAll(".img-select a");
      const imgBtns = [...imgs];
      let imgId = 1;

      imgBtns.forEach((imgItem) => {
        imgItem.addEventListener("click", (event) => {
          event.preventDefault();
          imgId = imgItem.dataset.id;
          slideImage();
        });
      });

      function slideImage() {
        const displayWidth = document.querySelector(
          ".img-showcase img:first-child"
        ).clientWidth;

        document.querySelector(".img-showcase").style.transform = `translateX(${
          -(imgId - 1) * displayWidth
        }px)`;
      }

      window.addEventListener("resize", slideImage);
    </script>
    {% endblock %}
  </body>
</html>
